<!DOCTYPE html>
<html>
  <head>
    <title>PbApp01</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("コンサート一覧","/concerts/index")%>
    <%= link_to("奏者一覧", "/performers/index")%>
    <%= link_to("施設一覧", "/audiences/index")%>
    <%= yield %>
  </body>
</html>
